<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>

		<add key="Ohubia Nuget" value="https://pkgs.ohubia.dev/LicenseId/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="Ohubia Nuget">
			<package pattern="Ohd.*" />
		</packageSource>

	</packageSourceMapping>
</configuration>